body {
    margin: 0;
    padding: 0;
    background-color: #ffdb8f;
}
.main-header, main {
    font-family: "Roboto-Mono", "Arial", serif;
}
main {
    margin: 0;
    padding: 0 10px;
    color: #570966;
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.main-header {
    margin-top: -10px;
    padding-top: 0;
    background-color: #ff5754;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #ffdb8f;
    font-size: 10px;
}
.main-header__container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10px;
}
.main-header__header {
    font-family: "Lobster", "Arial", sans-serif;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #ffdb8f;
}
.main-header__name {
    font-size: 30px;
    display: block;
    text-align: center;
    position: relative;
    z-index: 5;
}
.main-header__logo {
    width: 80px;
    height: 80px;
    margin: -28px auto -18px;
    position: relative;
    z-index: 1;
}
.main-header__description {
    font-family: "Roboto-Mono", "Arial", serif;
    font-size: 10px;
    line-height: 16px;
    text-align: center;
    margin: 0;
    padding: 0 35px;
    position: relative;
    z-index: 5;
}
@media (min-width:768px) {
    .main-header__container {
        padding: 0;
        margin: 0;
        background-color: #ff5754;
        background-image: url("../../img/Abstract Background with Blue Curves Vector Illustration.jpg");
        background-repeat: no-repeat;
        background-position: 60% 35%;
        background-size: 100%;
        background-blend-mode: color-burn;
    }
    .main-header__header {
        font-size: 35px;
        padding: 10px;
    }
    .main-header__name {
        margin-top: 28px;
        font-size: 75px;
    }
    .main-header__logo {
        width: 150px;
        height: 140px;
    }
    .main-header__description {
        font-size: 13px;
        padding-bottom: 10px;
    }
}.navigation__container {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin: 0;
     padding: 0;
 }
.navigation__logo-inner {
    margin: 0;
    padding: 0;
}
.main-navigation__menu, .user-navigation__menu {
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-navigation__menu li, .user-navigation__menu li {
    list-style: none;
    text-decoration: none;
    padding: 0 5px;
}
.main-navigation__link a, .user-navigation__link a {
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffdb8f;
}
.main-navigation__link a:focus, .main-navigation__link a:hover, .user-navigation__link a:focus, .user-navigation__link a:hover {
    color: #9a1003;
    border-bottom: 1px dashed #9a1003;
}
.main-navigation__link a:active, .user-navigation__link a:active {
    color: #570966;
}
@media (min-width:768px) {
    .navigation__container {
        justify-content: space-between;
        padding-top: 10px;
    }
    .main-navigation__link a, .user-navigation__link a {
        padding: 15px;
        font-size: 15px;
    }
    .user-navigation__link a {
        padding-left: 25px;
    }
    .user-navigation__link a:after {
        position: absolute;
        content: "";
        top: 2px;
        left: 5px;
        width: 20px;
        height: 20px;
        background: url(../../img/login.png) no-repeat 0 0;
        background-size: contain;
        display: block;
        cursor: pointer;
    }
    .user-navigation__link a:after:active, .user-navigation__link a:after:hover {
        background: url(../../img/login_hover.png);
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        border: 1px solid #000;
    }
    .user-navigation__link {
        position: relative;
    }
}.sign-in-form-container {
     margin: 15px auto;
     padding: 15px;
     display: flex;
     flex-direction: column;
     border: 2px solid #570966;
     border-radius: 5px;
     max-width: 300px;
 }
.sign-in-form-container:active, .sign-in-form-container:hover {
    box-shadow: -2px 3px 15px 2px rgba(240, 70, 84, .67);
}
.sign-in-form {
    margin: 0;
    padding: 0;
}
.sign-in-form__header {
    padding: 0;
    text-align: center;
    margin: 0 0 10px;
}
.sign-in-form__label {
    font-family: Roboto-Thin, sans-serif;
    display: block;
    font-size: 11px;
    font-style: italic;
    margin-bottom: 2px;
}
.sign-in-form__email, .sign-in-form__pass {
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 0;
    box-shadow: 0 0 1px #570966 inset;
    background-color: bisque;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    outline: 0;
    padding: 5px;
    color: #570966;
    font-size: 13px;
}
.sign-in-form__email:hover, .sign-in-form__pass:hover {
    box-shadow: 0 0 2px #570966 inset;
}
.sign-in-form__email:active, .sign-in-form__email:focus, .sign-in-form__pass:active, .sign-in-form__pass:focus {
    box-shadow: 0 0 4px #570966 inset;
}
.sign-in-form__email, .sign-in-form__pass {
    background-image: url(../../img/icon-backpack.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 99% 0;
}
.sign-in-form__email:active, .sign-in-form__email:hover, .sign-in-form__pass:active, .sign-in-form__pass:hover {
    background-blend-mode: hard-light;
}
.sign-in-form__pass {
    background-image: url(../../img/icon-art.png);
    background-position: 99% 1px;
}
.sign-in-form__help-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.sign-in-form__forgot-reg {
    color: #570966;
    font-family: Roboto-Thin, sans-serif;
    display: block;
    font-size: 10px;
    font-style: italic;
    margin-bottom: 2px;
    padding-right: 5px;
}
.sign-in-form__forgot-reg:hover {
    font-size: 11px;
    text-decoration: none;
    font-style: normal;
}
.sign-in-form__forgot-reg:active {
    opacity: .7;
}
.sign-in-form__submit {
    background-color: #ff5754;
    padding: 6px 23px;
    border-radius: 14px;
    display: block;
    margin: 0 auto;
    color: #ffdb8f;
    border: 0;
    outline: 0;
}
.sign-in-form__submit:hover {
    background-color: #570966;
    opacity: .7;
    box-shadow: -2px 3px 15px 2px rgba(240, 70, 84, .67);
}
.sign-in-form__submit:active {
    opacity: 1;
}
@media (min-width:768px) {
    .sign-in-form-container {
        margin-top: 50px;
        max-width: 400px;
        margin-bottom: 20px;
        min-height: 310px;
    }
    .sign-in-form__header {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .sign-in-form__label {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .sign-in-form__email, .sign-in-form__pass {
        max-width: 100%;
        padding: 10px;
        font-size: 19px;
        background-size: 7%;
        background-position: 99% 60%}
    .sign-in-form__forgot-reg {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .sign-in-form__forgot-reg:hover {
        font-size: 18px;
        margin-bottom: 0;
    }
    .sign-in-form__submit {
        font-size: 20px;
        padding: 10px 35px;
        border-radius: 23px;
        margin-bottom: 5px;
        margin-top: 15px;
    }
}.main-footer {
     background-color: #ff5754;
     color: #ffdb8f;
     left: 0;
     bottom: 0;
     width: 100%}
.footer-social, .footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__container {
    flex-direction: column-reverse;
    margin: 10px 15px;
}
.footer-social {
    flex-direction: row;
    max-width: 100px;
    list-style: none;
    padding: 0;
}
.author, .footer-social {
    margin: 10px auto;
}
.author__name {
    text-decoration: none;
    color: #ffdb8f;
    font-family: Roboto-Mono, sans-serif;
    font-size: 11px;
}
.author__name span:hover {
    color: #570966;
    border-bottom: 1px dashed #570966;
}
.social__git {
    background-image: url(../../img/socgit.png);
}
.social__git:hover {
    background-color: #570966;
    border-radius: 15px;
}
.social__git:active {
    opacity: .7;
}
.social__42 {
    background: url(../../img/soc42.png);
}
.social__42:hover {
    background-color: #570966;
}
.social__42:active {
    opacity: .7;
}
.social__insta {
    background: url(../../img/socinst.png);
}
.social__insta:hover {
    background-color: #570966;
    border-radius: 10px;
}
.social__insta:active {
    opacity: .7;
}
.footer-social__link {
    width: 20px;
    height: 20px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    margin: 0 5px;
}
@media (min-width:768px) {
    .author__name {
        font-size: 15px;
    }
    .footer-social__link {
        width: 30px;
        height: 30px;
    }
}
/*# sourceMappingURL=style.min.css.map */
